---
import { Icon, Home, QuestionMarkCircle } from "svelte-hero-icons";
---

<nav
    class="sticky w-full text-purple-600 text-xl font-light shadow-lg p-4 flex justify-between items-center"
>
    <a href="/make-a-choice">
        <Icon src={Home} size="32" />
    </a>
    <h1 class="text-2xl">Make A Choice</h1>
    <a href="https://github.com/jessecrans/make-a-choice">
        <Icon src={QuestionMarkCircle} size="32" />
    </a>
</nav>
